.footer-container {
    background-color: #212529;
    color: #ffffff8c;
    margin-top: auto;
}

.links-footer-container a {
    text-decoration: none;
    color: #ffffff8c;
}

.links-footer-container a:hover {
    color: rgb(146, 203, 241);
}