.c-item {
	width: 100%;
	height: max(20rem, 30vw);
}

.container-carousel {
	position: relative;
}

.container-carousel::before {
	position: absolute;
	display: block;
	transform: translateX(-50%);
	left: 50%;
	width: 100%;
	height: max(20rem, 30vw);
	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
	content: '';
}
