
.c-item {
       position: relative;
       display: none;
       float: left;
       width: 100%;
       max-height: 30rem;
       margin-right: -100%;
       -webkit-backface-visibility: hidden;
       backface-visibility: hidden;
       transition: transform 0.6s ease-in-out;
       min-height: 8rem;
     }
        .c-img {
              width: 100% !important;
              display: block !important;
              box-sizing: border-box;
              object-fit: fill;
              overflow-clip-margin: content-box;
              overflow: clip;
            }    